<div class="site-section faq-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12 text-center">
                <h2 class="title-heading" data-aos="fade-down">FAQ</h2>
            </div>
        </div>



        <div id="accordion" role="tablist" aria-multiselectable="true">

            <!-- Accordion Item 1 -->
            <div class="card">
                <div class="card-header" role="tab" id="accordionHeadingOne">
                    <div class="mb-0 row">
                        <div class="col-12  accordion-head">
                            <a data-toggle="collapse" data-parent="#accordion" href="#accordionBodyOne" aria-expanded="false" aria-controls="accordionBodyOne" class="collapsed ">
                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                                <h3>Are there restrictions on the goods that I can send via GetitHomeService??</h3>
                            </a>
                        </div>
                    </div>
                </div>

                <div id="accordionBodyOne" class="collapse" role="tabpanel" aria-labelledby="accordionHeadingOne" aria-expanded="false" data-parent="accordion">
                    <div class="card-block col-12">
                        <p>No illegal items, No livestock, commemorative weapons only.</p>
                    </div>
                </div>
            </div>

            <!-- Accordion Item 2 -->
            <div class="card">
                <div class="card-header" role="tab" id="accordionHeadingTwo">
                    <div class="mb-0 row">
                        <div class="col-12 no-padding accordion-head">
                            <a data-toggle="collapse" data-parent="#accordion" href="#accordionBodyTwo" aria-expanded="false" aria-controls="accordionBodyTwo" class="collapsed ">
                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                                <h3>How do I pay for the logistics services that I will be using?</h3>
                            </a>
                        </div>
                    </div>
                </div>

                <div id="accordionBodyTwo" class="collapse" role="tabpanel" aria-labelledby="accordionHeadingTwo" aria-expanded="false" data-parent="accordion">
                    <div class="card-block col-12">
                        <p>Credit Cards, Cheque and Cash.</p>
                    </div>
                </div>
            </div>

            <!-- Accordion Item 3 -->
            <div class="card">
                <div class="card-header" role="tab" id="accordionHeadingThree">
                    <div class="mb-0 row">
                        <div class="col-12 no-padding accordion-head">
                            <a data-toggle="collapse" data-parent="#accordion" href="#accordionBodyThree" aria-expanded="false" aria-controls="accordionBodyThree" class="collapsed ">
                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                                <h3>I want to send a (very) heavy consignment (an anvil, 35 kilograms). How will Select Courier handle this?</h3>
                            </a>
                        </div>
                    </div>
                </div>

                <div id="accordionBodyThree" class="collapse" role="tabpanel" aria-labelledby="accordionHeadingThree" aria-expanded="false" data-parent="accordion">
                    <div class="card-block col-12">
                        <p>Equipped for heavy items. All purchases come with truck, necessary equipment to move items and the manpower. Bed Trucks, cargo vans, chevy silvarado and 2 axel box trucks available for moving.</p>
                    </div>
                </div>
            </div>
            <!-- Accordion Item 4 -->
            <div class="card">
                <div class="card-header" role="tab" id="accordionHeading4">
                    <div class="mb-0 row">
                        <div class="col-12 no-padding accordion-head">
                            <a data-toggle="collapse" data-parent="#accordion" href="#accordionBody4" aria-expanded="false" aria-controls="accordionBody4" class="collapsed ">
                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                                <h3>What are your office hours?</h3>
                            </a>
                        </div>
                    </div>
                </div>

                <div id="accordionBody4" class="collapse" role="tabpanel" aria-labelledby="accordionHeading4" aria-expanded="false" data-parent="accordion">
                    <div class="card-block col-12">
                        <p>We operate 24/7.Please feel free to contact us whenever you like.</p>
                    </div>
                </div>
            </div>

            <!-- Accordion Item 5 -->
            <div class="card">
                <div class="card-header" role="tab" id="accordionHeading5">
                    <div class="mb-0 row">
                        <div class="col-12 no-padding accordion-head">
                            <a data-toggle="collapse" data-parent="#accordion" href="#accordionBody5" aria-expanded="false" aria-controls="accordionBody5" class="collapsed ">
                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                                <h3>How can I submit a claim for loss or damage?</h3>
                            </a>
                        </div>
                    </div>
                </div>

                <div id="accordionBody5" class="collapse" role="tabpanel" aria-labelledby="accordionHeading5" aria-expanded="false" data-parent="accordion">
                    <div class="card-block col-12">
                        <p>If you have renters insurance, then insurance is included in your hourly purchase. If you do not have renters insurance, you must purchase Lions Group insurance at favorable rates from us. </p>
                    </div>
                </div>
            </div>

            <!-- Accordion Item 6 -->
            <div class="card">
                <div class="card-header" role="tab" id="accordionHeading6">
                    <div class="mb-0 row">
                        <div class="col-12 no-padding accordion-head">
                            <a data-toggle="collapse" data-parent="#accordion" href="#accordionBody6" aria-expanded="false" aria-controls="accordionBody6" class="collapsed ">
                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                                <h3>How can I track the status of my shipment during transit?</h3>
                            </a>
                        </div>
                    </div>
                </div>

                <div id="accordionBody6" class="collapse" role="tabpanel" aria-labelledby="accordionHeading6" aria-expanded="false" data-parent="accordion">
                    <div class="card-block col-12">
                        <p>All drivers are able to be tracked via a gps tracking app that we will equip you with before transporting your item.</p>
                    </div>
                </div>
            </div>

            <!-- Accordion Item 7 -->
            <div class="card">
                <div class="card-header" role="tab" id="accordionHeading7">
                    <div class="mb-0 row">
                        <div class="col-12 no-padding accordion-head">
                            <a data-toggle="collapse" data-parent="#accordion" href="#accordionBody7" aria-expanded="false" aria-controls="accordionBody7" class="collapsed ">
                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                                <h3>What area do you serve? </h3>
                            </a>
                        </div>
                    </div>
                </div>

                <div id="accordionBody7" class="collapse" role="tabpanel" aria-labelledby="accordionHeading7" aria-expanded="false" data-parent="accordion">
                    <div class="card-block col-12">
                        <p>25 mile radius of 33021 for a flat rate of $99/hr. Included in this rate is the truck, moving equipment and the men to get the job done.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>