<div class="site-section faq-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12 text-center">
                <h2 class="title-heading" data-aos="fade-down">FAQ</h2>
            </div>
        </div>



        <div id="accordion" role="tablist" aria-multiselectable="true">

            <!-- Accordion Item 1 -->
            <div class="card">
                <div class="card-header" role="tab" id="accordionHeadingOne">
                    <div class="mb-0 row">
                        <div class="col-12  accordion-head">
                            <a data-toggle="collapse" data-parent="#accordion" href="#accordionBodyOne" aria-expanded="false" aria-controls="accordionBodyOne" class="collapsed ">
                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                                <h3>What we do ?</h3>
                            </a>
                        </div>
                    </div>
                </div>

                <div id="accordionBodyOne" class="collapse" role="tabpanel" aria-labelledby="accordionHeadingOne" aria-expanded="false" data-parent="accordion">
                    <div class="card-block col-12">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin laoreet ante at nisi tempus, maximus bibendum odio consequat. Proin eleifend elit nec facilisis luctus. Donec ut ornare tellus. Proin posuere et leo vel congue. Nunc
                            ipsum eros, vestibulum non mi et, porttitor tristique nulla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum a turpis eu quam bibendum interdum a quis erat. Fusce porta
                            odio sed nulla ultrices, gravida viverra nunc imperdiet.</p>
                    </div>
                </div>
            </div>

            <!-- Accordion Item 2 -->
            <div class="card">
                <div class="card-header" role="tab" id="accordionHeadingTwo">
                    <div class="mb-0 row">
                        <div class="col-12 no-padding accordion-head">
                            <a data-toggle="collapse" data-parent="#accordion" href="#accordionBodyTwo" aria-expanded="false" aria-controls="accordionBodyTwo" class="collapsed ">
                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                                <h3>Lorem ipsum dolor sit amet??</h3>
                            </a>
                        </div>
                    </div>
                </div>

                <div id="accordionBodyTwo" class="collapse" role="tabpanel" aria-labelledby="accordionHeadingTwo" aria-expanded="false" data-parent="accordion">
                    <div class="card-block col-12">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin laoreet ante at nisi tempus, maximus bibendum odio consequat. Proin eleifend elit nec facilisis luctus. Donec ut ornare tellus. Proin posuere et leo vel congue. Nunc</p>
                    </div>
                </div>
            </div>

            <!-- Accordion Item 3 -->
            <div class="card">
                <div class="card-header" role="tab" id="accordionHeadingThree">
                    <div class="mb-0 row">
                        <div class="col-12 no-padding accordion-head">
                            <a data-toggle="collapse" data-parent="#accordion" href="#accordionBodyThree" aria-expanded="false" aria-controls="accordionBodyThree" class="collapsed ">
                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                                <h3>Lorem ipsum dolor sit amet?</h3>
                            </a>
                        </div>
                    </div>
                </div>

                <div id="accordionBodyThree" class="collapse" role="tabpanel" aria-labelledby="accordionHeadingThree" aria-expanded="false" data-parent="accordion">
                    <div class="card-block col-12">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin laoreet ante at nisi tempus, maximus bibendum odio consequat. Proin eleifend elit nec facilisis luctus. Donec ut ornare tellus. Proin posuere et leo vel congue. Nunc
                            ipsum eros, vestibulum non mi et, porttitor tristique nulla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum a turpis eu quam bibendum interdum a quis erat. Fusce porta
                            odio sed nulla ultrices, gravida viverra nunc imperdiet.</p>
                    </div>
                </div>
            </div>


        </div>


    </div>
</div>