<div class="site-section about-us">
    <div class="container">
        <div class="text-center">
            <h2 class="title-heading" data-aos="fade-left">About Us</h2>
        </div>
        <div class="about-text">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis facilis placeat optio animi tempore voluptates libero magni similique quam maxime, architecto harum doloribus delectus molestias ad, obcaecati perferendis culpa et! Lorem ipsum dolor sit
                amet, consectetur adipisicing elit. Officiis facilis placeat optio animi tempore voluptates libero magni similique quam maxime, architecto harum doloribus delectus molestias ad, obcaecati perferendis culpa et!
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis facilis placeat optio animi tempore voluptates libero magni similique quam maxime, architecto harum doloribus delectus molestias ad, obcaecati perferendis culpa et!
            </p>
        </div>


    </div>
</div>