<div class="site-section about-us">
    <div class="container">
        <div class="text-center">
            <h2 class="title-heading" data-aos="fade-left">About Us</h2>
        </div>
        <div class="about-text">
           
               <h3><strong>Is your car too small to fit your oversized delivery?</strong></h3><br>
               <p>
                GetItHomeNow is the right place to visit for Moving and Storage Service we are the leading company whose
                mission is to deliver the highest quality moving and storage services to each of our valued customers,
                Here you will be getting the best Licensed, bonded and Insured Driver deliver product.

            </p>
            <p>
                For us affordability and customer satisfaction are our main priority. We charge a flat fee per item move
                which gives a stress-free moving experience, flat rate of $99/hr including the rate of the truck, moving
                equipment and the men to get the job done.
            </p>
        </div>


    </div>
</div>