.about-us {
    padding: 80px 0;
}

.about-text {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 20px;
}

.about-text p {
    margin: 0;
    padding-bottom: 15px;
    line-height: 26px;
    font-size: 16px;
    letter-spacing: 0.3px;
    text-align: justify;
}

@media (max-width: 576px) {
    .about-us {
        padding: 45px 10px;
    }
}