<!-- <main id="wrapper">

    <div class="backlayer">
        <div class="layerLeft" style="background-image:url(./assets/imgs/mainBackGround.png); background-repeat:no-repeat;">
            <figure class="logo"><img alt="" src="./assets/imgs/mainlogo.png"></figure>
        </div>
        <div class="layerRight" style="background-image:url(./assets/imgs/mainBackGround.png); background-repeat:no-repeat;">
            <figure class="logo"><img alt="" src="./assets/imgs/mainlogo.png"></figure>
        </div>
    </div>
    <div class="panels">
        <div class="innerpanel">

            <div class="right">
                <div class="formcontainer">
                    <h5>{{mainTitle}}</h5>

                    <form class="login100-form" *ngIf="signupForm == false">
                        <div class="field">
                            <input type="text" name="email" id="email" placeholder=" " autocomplete="off" [(ngModel)]="loginsignup.email" required>
                            <label for="email">Email</label>
                            <i class="fieldIcon fa fa-user" aria-hidden="true"></i>
                        </div>

                        <div class="field">
                            <input type="password" name="password" id=password placeholder=" " [(ngModel)]="loginsignup.password" required>
                            <label for="password">Password</label>
                            <i class="fieldIcon fa fa-lock" aria-hidden="true"></i>

                        </div>

                        <div class="field">
                            <button type="submit" class="submit button" (click)="callLoginApi()"><span></span>Log
                                In</button>
                        </div>

                        <div class="field d-flex spcl-field">
                            <a id="moveleft" href="javascript:void(0)" class="linkright linkslide" (click)="CallModalForm(content)">Forgot Password?</a>
                        </div>
                    </form>

                    <form class="login100-form signupformShow" *ngIf="signupForm == true">
                        <div class="row">
                            <div class="col-md-6 ">
                                <div class="field">
                                    <input type="text" name="first_name" id="first_name" placeholder=" " autocomplete="off" [(ngModel)]="loginsignup.firstName" required>
                                    <label for="first_name">First Name</label>
                                    <i class="fieldIcon fa fa-user" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                <div class="field">
                                    <input type="text" name="last_name" id="last_name" placeholder=" " autocomplete="off" [(ngModel)]="loginsignup.lastName" required>
                                    <label for="last_name">Last Name</label>
                                    <i class="fieldIcon fa fa-user" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>

                        <div class="field">
                            <input type="text" name="email" id="email" placeholder=" " autocomplete="off" [(ngModel)]="loginsignup.email" required>
                            <label for="email">Email</label>
                            <i class="fieldIcon fa fa-envelope" aria-hidden="true"></i>
                        </div>
                        <div class="field">
                            <input type="text" name="contact_Number" id="contact_Number" (keypress)="keyPress($event)" placeholder=" " autocomplete="off" [(ngModel)]="loginsignup.contact" required>
                            <label for="contact_Number">Contact Number</label>
                            <i class="fieldIcon fa fa-phone-square" aria-hidden="true"></i>
                        </div>

                        <div class="field">
                            <input type="password" name="password" id="password" placeholder=" " [(ngModel)]="loginsignup.password" required>
                            <label for="password">Password</label>
                            <i class="fieldIcon fa fa-lock" aria-hidden="true"></i>

                        </div>
                        <div class="field">
                            <input type="password" name="c_password" id="c_password" placeholder=" " [(ngModel)]="loginsignup.confirm_password" required>
                            <label for="c_password">Confirm Password</label>
                            <i class="fieldIcon fa fa-lock" aria-hidden="true"></i>

                        </div>

                        <div class="field">
                            <button type="submit" class="submit button" (click)="sigupServiceCall()"><span></span>Signup</button>
                        </div>

                        <div class="field d-flex spcl-field">

                        </div>
                    </form>
                    <div class="signuplink" *ngIf="signupForm == false">
                        <span>Not Member yet?<a (click)="toggleButtonFunction()">{{titlebelow}}</a></span>

                    </div>
                    <div class="signuplink" *ngIf="signupForm == true">
                        <span>Go back to<a (click)="toggleButtonFunction()">{{titlebelow}}</a></span>

                    </div>

                </div>
            </div>
        </div>
    </div>
</main>



<ng-template #content>
    <div class="modal-body" style="text-align: center; ">
        <div class="close-icon" (click)="JoinAndClose()"><i class="fa fa-times"></i></div>
        <div class="title-heading">
            <h3>Forgot Password?</h3>
        </div>
        <form class="login100-form">
            <div class="form-element">
                <label>Email</label>
                <input placeholder="Enter Email" type="email" #inputEmail autocomplete="off" />
            </div>

            <div class="field" style="margin-bottom: 0;">
                <button type="submit" (click)="forgetPassword(inputEmail.value)" class="submit button">Submit</button>
            </div>
        </form>
    </div>
</ng-template> -->


<div class="backlayer">

    <canvas repulse-particles></canvas>
    <div class="imagediv" [ngClass]="{'logonotshosignup':signupForm == true}" routerLink="" style="cursor: pointer;">
        <img src="./assets/imgs/mainlogo.png" alt="">
    </div>

    <div class="form-outer " [ngClass]="{'form-outer-signup': signupForm == true}">
        <h1>{{mainTitle}}</h1>
        <div class="form" *ngIf="signupForm == false">
            <div class="form-element">
                <label for="email">Email</label>
                <input placeholder="Enter Email Address" type="email" id="email" autocomplete="off" [(ngModel)]="loginsignup.email" required/>
            </div>
            <div class="form-element" style="position: relative;">
                <label for="password">Password</label>
                <input type="password" name="password" id=password placeholder="Enter Password " [(ngModel)]="loginsignup.password" (onkeyup.enter)="callLoginApi()" required/>
                <a id="moveleft" href="javascript:void(0)" class="linkright linkslide" (click)="CallModalForm(content)">Forgot?</a>
            </div>


            <div class="field" style="margin-bottom: 0;">
                <button type="submit" (click)="callLoginApi()" class="submit button">Login</button>
            </div>
            <!-- <div class="field d-flex spcl-field">
                <a id="moveleft" href="javascript:void(0)" class="linkright linkslide" (click)="CallModalForm(content)">Forgot Password?</a>
            </div> -->
        </div>
        <div class="form" *ngIf="signupForm == true">
            <div class="form-element">
                <label for="email">First Name</label>
                <input type="text" name="first_name" id="first_name" placeholder="Enter First Name " autocomplete="off" (keypress)="_keyPresscharacter($event)" [(ngModel)]="loginsignup.firstName" required/>
            </div>
            <div class="form-element">
                <label for="email">Last Name</label>
                <input type="text" name="last_name" id="last_name" placeholder="Enter Last Name " (keypress)="_keyPresscharacter($event)" autocomplete="off" [(ngModel)]="loginsignup.lastName" required/>
            </div>
            <div class="form-element">
                <label for="email">Email</label>
                <input placeholder="Enter Email Address" type="email" id="email" autocomplete="off" [(ngModel)]="loginsignup.email" required/>
            </div>
            <div class="form-element">
                <label for="email">Contact Number</label>
                <input type="text" name="contact_Number" id="contact_Number" (keypress)="keyPress($event)" placeholder="Enter Contact Number " maxlength="10" autocomplete="off" [(ngModel)]="loginsignup.contact" required/>
            </div>
            <div class="form-element">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="Enter Password" [(ngModel)]="loginsignup.password" required/>
            </div>
            <div class="form-element">
                <label for="c_password">Confirm Password</label>
                <input type="password" name="c_password" id="c_password" placeholder="Enter Confirm Password " [(ngModel)]="loginsignup.confirm_password" (onkeyup.enter)="sigupServiceCall()" required/>
            </div>

            <div class="field" style="margin-bottom: 0;">
                <button type="submit" (click)="sigupServiceCall()" class="submit button">Signup</button>
            </div>

        </div>
        <div class="signuplink" *ngIf="signupForm == false">
            <span>Not Member yet?<a (click)="toggleButtonFunction()">{{titlebelow}}</a></span>

        </div>
        <div class="signuplink" *ngIf="signupForm == true">
            <span>Go back to<a (click)="toggleButtonFunction()">{{titlebelow}}</a></span>
        </div>

    </div>


</div>


<ng-template #content>
    <div class="modal-body" style="text-align: center; ">
        <div class="close-icon" (click)="JoinAndClose()"><i class="fa fa-times"></i></div>
        <div class="title-heading">
            <h3>Forgot Password?</h3>
        </div>
        <form class="login100-form">
            <div class="form-element">
                <label>Email</label>
                <input placeholder="Enter Email" type="email" #inputEmail autocomplete="off" />
            </div>

            <div class="field" style="margin-bottom: 0;">
                <button type="submit" (click)="forgetPassword(inputEmail.value)" class="submit button">Submit</button>
            </div>
        </form>
    </div>
</ng-template>