    /* headings */
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 100%;
        font-weight: normal;
        text-transform: capitalize;
        color: #555;
        padding: 0 0 10px 0;
    }
    
    h1 {
        font-size: 30px;
    }
    
    h2 {
        font-size: 28px;
    }
    
    h3 {
        font-size: 26px;
    }
    
    h4 {
        font-size: 24px;
    }
    
    h5 {
        font-size: 20px;
    }
    
    h6 {
        font-size: 18px;
    }
    /* ends */

/*  Form Css*/

form {
    margin: 2em 0;
}


/**
  * Make the field a flex-container, reverse the order so label is on top.
  */

.limiter {
    width: 100%;
    margin: 0 auto;
}

.container-login100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #f2f2f2;
}

.wrap-login100 {
    width: 390px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 25px 20px;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    height: 100%;
    min-height: 623px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.field {
    display: flex;
    flex-flow: column-reverse;
    margin-bottom: 25px;
    position: relative;
}

label,
input {
    transition: all 0.2s;
    touch-action: manipulation;
}

input {
    border: 0;
    border-bottom: 2px solid #8e8e8e96;
    font-family: inherit;
    -webkit-appearance: none;
    border-radius: 0;
    padding: 0;
    cursor: text;
    padding: 0px 0px 5px 25px;
}

input:focus {
    outline: 0;
    border-bottom: 2px solid #8e8e8e96;
}

label {
    letter-spacing: 0.05em;
}

input:placeholder-shown+label {
    cursor: text;
    max-width: 66.66%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transform-origin: left bottom;
    transform: translate(0, 2.125rem) scale(1.3);
    font-size: 11px;
    color: #808080eb;
    padding: 5px 0px 5px 20px;
}


/**
  * By default, the placeholder should be transparent. Also, it should 
  * inherit the transition.
  */

 ::-webkit-input-placeholder {
    opacity: 0;
    transition: inherit;
}


/**
  * Show the placeholder when the input is focused.
  */

input:focus::-webkit-input-placeholder {
    opacity: 1;
}

input:not(:placeholder-shown)+label,
input:focus+label {
    transform: translate(0, 0.0) scale(1);
    cursor: pointer;
    font-size: 12px;
    color: #808080f7;
    padding: 5px 0px 5px 20px;
}


/*End */


    /* checkbox */
    
    .checkbox {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        padding: 0 0 0 25px;
        height: 20px;
    }
    
    .checkbox input {
        top: 0;
        left: 0;
        margin: 0 !important;
        z-index: 1;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }
    
    .checkbox input[type="checkbox"],
    .checkbox-inline input[type="checkbox"] {
        position: absolute;
        margin-left: -20px;
        margin-top: 4px \9;
    }
    
    .checkbox .input-helper:before,
    .checkbox .input-helper:after {
        -webkit-transition: all;
        -o-transition: all;
        transition: all;
        -webkit-transition-duration: 250ms;
        transition-duration: 250ms;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        backface-visibility: hidden;
        position: absolute;
        content: "";
    }
    
    .checkbox .input-helper:before {
        left: 0;
        border: 1px solid #ccc;
    }
    
    .checkbox.disabled {
        opacity: 0.6;
        filter: alpha(opacity=60);
    }
    
    .checkbox input {
        width: 17px;
        height: 17px;
    }
    
    .checkbox input:checked+.input-helper:before {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    
    .checkbox input:checked+.input-helper:after {
        -webkit-transform: scale(1) rotate(-50deg);
        -ms-transform: scale(1) rotate(-50deg);
        -o-transform: scale(1) rotate(-50deg);
        transform: scale(1) rotate(-50deg);
        opacity: 1;
        filter: alpha(opacity=100);
    }
    
    .checkbox .input-helper:before {
        top: 0px;
        width: 17px;
        height: 17px;
    }
    
    .checkbox .input-helper:after {
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transform: scale(0) rotate(80deg);
        -ms-transform: scale(0) rotate(80deg);
        -o-transform: scale(0) rotate(80deg);
        transform: scale(0) rotate(80deg);
        width: 22px;
        height: 9px;
        border-bottom: 2px solid #ff586b;
        border-left: 2px solid #ff586b;
        border-bottom-left-radius: 2px;
        left: 2px;
        top: -2px;
    }
    /* ends */
    
    .backlayer .logo {
        /* display: table;
        position: relative;
        z-index: 1;
        top: 50%;
        left: 50%; */
        display: table;
        position: relative;
        z-index: 1;
        top: 13px;
        padding: 10px 26px;
        float: right;
        /* -ms-transform: translate(-50%, -50%); */
        /* IE 9 */
        /* -webkit-transform: translate(-50%, -50%); */
        /* Chrome, Safari, Opera */
        /* transform: translate(-50%, -50%); */
    }
    
    .backlayer .logo img {
        max-width: 150px;
    }
    /* form sections */
    
    .backlayer {
        height: 100%;
        position: absolute;
        width: 100%;
    }
    
    .backlayer .layerLeft {
        background-size: cover;
        background-position: 50% 50%;
        height: 100%;
        position: absolute;
        right: 0;
        width: 45%;
    }
    
    .backlayer .layerLeft:before {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        content: "";
        /*background: rgba(33,150,243,0.7);*/
        background: rgba(0, 0, 0, 0.50);
        background-size: cover;
        background-attachment: fixed;
    }
    
    .backlayer .layerRight {
        background-size: cover;
        background-position: 50% 50%;
        height: 100%;
        left: 0;
        position: absolute;
        width: 55%;
    }
    
    .backlayer .layerRight:before {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        content: "";
        /*background: rgba(33,150,243,0.7);*/
        background: rgba(0, 0, 0, 0.50);
        background-size: cover;
        background-attachment: fixed;
    }
    
    .innerpanel {
        height: 100%;
        left: -100%;
        position: relative;
        width: 200%;
    }
    
    .left {
        background: #2c3034;
        height: 100%;
        left: 0;
        position: absolute;
        width: 50%;
        background: #fff;
        z-index: 1;
    }
    
    .right {
        height: 100%;
        position: absolute;
        right: 0;
        width: 45%;
        background: #fff;
        z-index: 1;
    }
    
    .panels {
        /* box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); */
        height: 100%;
        margin-left: 50%;
        max-height: 100%;
        overflow: hidden;
        position: absolute;
        width: 50%;
    }
    
    .backlayer .layerRight:after,
    .backlayer .layerLeft:after {
        /* background: url("../../../assets/imgs/pattern.png") repeat; */
        content: "";
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
    }

    .signuplink{
        text-align: center;
        padding: 15x 15px;   
     }
     .signuplink span{
         color: #000000;
         font-size: 14px;
         letter-spacing: 0.5px;
     }

     .signuplink span a{
         color: #f44336;
         cursor: pointer;
         margin-left: 5px;
     }
     .signuplink span:hover a{
        color: #555 !important;
        text-decoration: underline;
     }
    
    .linkright {
        float: right;
        text-decoration: none;
        text-transform: uppercase;
        color: #ff586b;
    }
    
    .linkright:hover {
        color: #ff586b;
    }
    /*from section Css*/
    
    .formcontainer {
        max-width: 500px;
        /*border: 1px solid #ddd; */
        padding: 20px;
        position: relative;
        margin: 0 auto;
        display: block;
        top: 50%;
        -ms-transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
        /* Chrome, Safari, Opera */
        transform: translate(0, -50%);
    }
    
    .formcontainer h6 {
        font-size: 14px;
    }
    
    .fieldIcon {
        width: max-content;
        position: absolute;
        left: 2px;
        bottom: 12px;
        border: none;
        color: #707070;
        background: transparent;
        font-size: 15px;
        cursor: pointer;
    }
    
    input:focus>.fieldIcon {
        color: #ff586b !important;
    }
    
    .spcl-field {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    
    .login100-form .spcl-field label {
        float: none;
        margin: 0;
    }
    
    input:focus {
        border-color: #ff586b;
    }
    
    .fieldIcon.password {
        right: 2px;
        bottom: 10px;
        left: unset;
    }
    
    .fieldIcon:focus {
        outline: unset;
    }
    
    .linkright {
        float: right;
        text-decoration: none;
        text-transform: uppercase;
        color: #ff586b;
    }
    
    .linkright:hover {
        color: #ff586b;
    }
    
    .login100-form label {
        text-transform: uppercase;
    }
    
    .login100-form .leftlabel {
        float: left;
        margin: 0 0 0 25px;
    }
    /* login btn */
    
    .submit.button {
        font-size: 14px;
        border-radius: 2px;
        display: block;
        width: 100%;
        padding: 10px 20px;
        border: 0 none;
        text-transform: uppercase;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        vertical-align: middle;
        border: none;
        background: #ff586b;
        color: #fff;
        margin-top: 25px;
    }
    
    .submit::before {
        content: "";
        width: 0;
        height: 1px;
        position: absolute;
        transition: all 0.2s linear;
        background: #fff;
    }
    
    .submit::after {
        content: "";
        width: 0;
        height: 1px;
        position: absolute;
        transition: all 0.2s linear;
        background: #fff;
    }
    
    .submit:hover {
        background: #333;
    }
    
    .submit span::before,
    .submit span::after {
        content: "";
        width: 1px;
        height: 0;
        position: absolute;
        transition: all 0.2s linear;
        background: #fff;
    }
    
    .submit:hover::before,
    .submit:hover::after {
        width: 100%;
    }
    
    .submit:hover span::before,
    .submit:hover span::after {
        height: 100%;
    }
    
    .submit::before {
        left: 50%;
        top: 3px;
        transition-duration: 0.4s;
    }
    
    .submit::after {
        left: 50%;
        bottom: 3px;
        transition-duration: 0.4s;
    }
    
    .submit span::before {
        left: 3px;
        top: 50%;
        transition-duration: 0.4s;
    }
    
    .submit span::after {
        right: 3px;
        top: 50%;
        transition-duration: 0.4s;
    }
    
    .submit:hover::before,
    .submit:hover::after {
        left: 3px;
        width: calc(100% - 6px);
    }
    
    .submit:hover span::before,
    .submit:hover span::after {
        top: 3px;
        height: calc(100% - 6px);
    }
    
    .login100-form .form-element {
        margin-top: 20px;
    }
    
    .login100-form .form-element label {
        font-size: 14px;
        margin-bottom: 4px;
        text-align: left;
        display: block;
        text-transform: none;
    }
    
    .login100-form .form-element input {
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 8px 15px;
    }
    /**End*/
    /** media queries **/
    
    @media only screen and (max-width:990px) {
        input {
            background: none;
        }
        .backlayer .layerLeft {
            width: 100%;
            height: 240px;
        }
        .backlayer .layerRight {
            display: none;
        }
        .panels {
            margin-left: 0;
            width: 100%;
            height: 100%;
            padding-top: 240px;
            position: relative;
            overflow: visible;
            box-shadow: none;
        }
        .innerpanel {
            height: 100%;
            left: 0;
            width: 100%;
            position: relative;
        }
        .left {
            height: 100%;
            width: 100%;
            position: absolute;
            opacity: 0;
            left: 0;
            right: 0;
            transform: translate3d(-300px, 0px, 0px);
            -ms-transform: translate3d(-300px, 0px, 0px);
            /* IE 9 */
            -webkit-transform: translate3d(-300px, 0px, 0px);
            /* Chrome, Safari, Opera */
            transform: translate3d(-300px, 0px, 0px);
            -webkit-transition: all 300ms ease 0s;
            -o-transition: all 300ms ease 0s;
            transition: all 300ms ease 0s;
        }
        body.active-left .left {
            opacity: 1;
            transform: translate3d(0px, 0px, 0px);
            -ms-transform: translate3d(0px, 0px, 0px);
            /* IE 9 */
            -webkit-transform: translate3d(0px, 0px, 0px);
            /* Chrome, Safari, Opera */
        }
        body.active-left .right {
            opacity: 0;
            transform: translate3d(-300px, 0px, 0px);
            -ms-transform: translate3d(-300px, 0px, 0px);
            /* IE 9 */
            -webkit-transform: translate3d(-300px, 0px, 0px);
            /* Chrome, Safari, Opera */
            transform: translate3d(-300px, 0px, 0px);
            -webkit-transition: all 300ms ease 0s;
            -o-transition: all 300ms ease 0s;
            transition: all 300ms ease 0s;
        }
        .right {
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            transform: translate3d(0, 0px, 0px);
            -ms-transform: translate3d(0, 0px, 0px);
            /* IE 9 */
            -webkit-transform: translate3d(0, 0px, 0px);
            /* Chrome, Safari, Opera */
            transform: translate3d(0, 0px, 0px);
            -webkit-transition: all 300ms ease 0s;
            -o-transition: all 300ms ease 0s;
            transition: all 300ms ease 0s;
        }
        .formcontainer {
            top: 0;
            -ms-transform: translate(0, 0);
            /* IE 9 */
            -webkit-transform: translate(0, 0);
            /* Chrome, Safari, Opera */
            transform: translate(0, 0);
        }
        .backlayer .logo {
            display: table;
            position: relative;
            z-index: 1;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            /* IE 9 */
            -webkit-transform: translate(-50%, -50%);
            /* Chrome, Safari, Opera */
            transform: translate(-50%, -50%);
            float: unset;
        }
        .backlayer .logo img {
            width: 180px;
        }
        .formcontainer {
            padding: 20px;
        }
        .field_control.fieldicon.user:before {
            left: 0;
        }
        .field_control.fieldicon.key:before {
            left: 0;
        }
        .field_control.fieldicon.mail:before {
            left: 0;
        }
        .field_control.fieldicon.secure:before {
            left: 0;
        }
        .field_control.fieldicon .field_label {
            left: 45px;
        }
        .field_control.fieldicon {
            padding-left: 20px;
            margin: 15px 0;
        }
        .circlebutton {
            position: relative;
            right: 0;
            top: 0;
            display: block;
            overflow: hidden;
            width: 100%;
            border-radius: 3px;
            height: 35px;
            font-size: 14px;
            text-transform: uppercase;
            color: #fff;
            line-height: 35px;
        }
        .circlebutton:before {
            display: none;
        }
        .web_form .leftlabel {
            margin-left: 0px;
        }
        .web_form {
            font-size: 11px;
        }
        .field_label {
            top: 8px;
        }
        .field_control {
            margin: 10px 0;
        }
        .circlebutton input[type="submit"] {
            height: 35px;
            line-height: 35px;
            font-size: 14px;
            color: #fff;
            width: 100%;
            display: block;
            opacity: 1;
            background: #f44336;
        }
        .circlebutton input[type="submit"]:hover {
            background: #f44336;
        }
        .left .formcontainer h6,
        .left .formcontainer h5 {
            padding-left: 0;
            text-align: center;
        }
        .left .formcontainer h5 {
            font-size: 18px;
        }
        .left .formcontainer h6 {
            font-size: 12px;
        }
        /*.field_cover .captchapic, .field_cover .reloadlink{position: static; margin: 10px 0 0;}*/
        .field_cover .captchapic {
            width: 100px;
            right: 20px;
        }
        #moveright.linkslide {
            display: block;
            margin: 10px 0 0;
            float: none;
            text-align: center;
        }
        .errorlist li a {
            font-size: 10px;
        }
        .field_cover .errorlist {
            padding: 6px;
        }
        .field {
            margin-bottom: 20px;
        }
        .formcontainer {
            max-width: 100%;
            background: #fff;
            margin: 0;
        }
        .formcontainer h5 {
            text-align: center;
        }
        .formcontainer form {
            max-width: 550px;
            margin: 0 auto;
        }
    }
    
    @media (max-width: 500px) {
        form {
            margin-top: 0;
        }
        .modal-body {
            padding: 20px 15px;
        }
    }