    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 100%;
        font-weight: normal;
        text-transform: capitalize;
        color: #555;
        padding: 0 0 10px 0;
    }
    
    h1 {
        font-size: 30px;
    }
    
    h2 {
        font-size: 28px;
    }
    
    h3 {
        font-size: 26px;
    }
    
    h4 {
        font-size: 24px;
    }
    
    h5 {
        font-size: 20px;
    }
    
    h6 {
        font-size: 18px;
    }
    
    html,
    body {
        height: 100%;
    }
    
    body {
        margin: 0;
        font-family: Roboto, "Helvetica Neue", sans-serif;
        background: #f7f7ff;
    }
    
    .backlayer {
        background: url("./.../../../../../assets/imgs/mainBackGround.png") no-repeat;
        height: 100%;
        background-size: cover;
        position: relative;
    }
    /* .backlayer:after {
        position: absolute;
        content: " ";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        background-image: url("pattern.png");
    } */
    
    .backlayer .card {
        z-index: 1;
        width: 70%;
        margin: 0 auto;
        background: transparent;
        border: none;
    }
    
    .backlayer .card .card-body {
        background: transparent;
    }
    
    .backlayer .card .logoIMage {
        width: 150px;
        height: 150px;
    }
    
    .backlayer .card .logoIMage .image {
        width: 100%;
        height: 100%;
    }
    
    .form-outer {
        padding: 20px 0;
        width: 30%;
        padding: 20px;
        margin: 0 auto;
        background: #00000057;
        position: absolute;
        right: 30px;
        border-radius: 4px;
        box-shadow: 0px 0px 10px 4px #ffffff91;
    }
    
    .form-outer-signup {
        top: 20px;
    }
    
    .form-outer h1 {
        color: #fff;
    }
    
    .form-outer .form-element {
        margin-bottom: 10px;
        display: block;
    }
    
    .form-outer .col-12 {
        padding: 0;
        display: flex;
        justify-content: space-between;
    }
    
    .form-outer .col-12 .form-element {
        width: 48%;
    }
    
    .form-outer .form-element.submit-btn {
        width: 100%;
        margin-bottom: 0;
    }
    
    .form-outer .form-element label {
        font-size: 14px;
        margin-bottom: 4px;
        text-align: left;
        display: block;
        color: #fff;
    }
    
    .form-outer .form-element input {
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 6px 15px;
    }
    
    .form-outer .form-element .submit-btn {
        background: #e92330;
        border-radius: 4px;
        text-align: center;
        padding: 12px 10px;
        min-width: 100%;
        display: inline-block;
        color: #fff;
        margin-top: 15px;
        text-decoration: none;
        transition: 0.3s all;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 1px;
        cursor: pointer;
    }
    /* login btn */
    
    .submit.button {
        font-size: 14px;
        border-radius: 2px;
        display: block;
        width: 100%;
        padding: 10px 20px;
        border: 0 none;
        text-transform: uppercase;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        vertical-align: middle;
        border: none;
        background: #ff586b;
        color: #fff;
        margin-top: 25px;
    }
    
    .submit::before {
        content: "";
        width: 0;
        height: 1px;
        position: absolute;
        transition: all 0.2s linear;
        background: #fff;
    }
    
    .submit::after {
        content: "";
        width: 0;
        height: 1px;
        position: absolute;
        transition: all 0.2s linear;
        background: #fff;
    }
    
    .submit:hover {
        background: #333;
    }
    
    .submit span::before,
    .submit span::after {
        content: "";
        width: 1px;
        height: 0;
        position: absolute;
        transition: all 0.2s linear;
        background: #fff;
    }
    
    .submit:hover::before,
    .submit:hover::after {
        width: 100%;
    }
    
    .submit:hover span::before,
    .submit:hover span::after {
        height: 100%;
    }
    
    .submit::before {
        left: 50%;
        top: 3px;
        transition-duration: 0.4s;
    }
    
    .submit::after {
        left: 50%;
        bottom: 3px;
        transition-duration: 0.4s;
    }
    
    .submit span::before {
        left: 3px;
        top: 50%;
        transition-duration: 0.4s;
    }
    
    .submit span::after {
        right: 3px;
        top: 50%;
        transition-duration: 0.4s;
    }
    
    .submit:hover::before,
    .submit:hover::after {
        left: 3px;
        width: calc(100% - 6px);
    }
    
    .submit:hover span::before,
    .submit:hover span::after {
        top: 3px;
        height: calc(100% - 6px);
    }
    
    .login100-form .form-element {
        margin-top: 20px;
    }
    
    .login100-form .form-element label {
        font-size: 14px;
        margin-bottom: 4px;
        text-align: left;
        display: block;
        text-transform: none;
    }
    

    
    .login100-form .form-element input {
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 8px 15px;
    }
    
    .signuplink {
        text-align: center;
        padding: 15x 15px;
        padding-top: 18px;
    }
    
    .signuplink span {
        color: #fff;
        font-size: 14px;
        letter-spacing: 0.5px;
    }
    
    .signuplink span a {
        color: #fff;
        cursor: pointer;
        margin-left: 5px;
    }
    
    .signuplink span:hover a {
        color: #ff586b !important;
        text-decoration: underline;
    }
    
    .form-outer .form-element .submit-btn:hover {
        background: #fff;
        transition: 0.3s all;
    }
    
     ::placeholder {
        color: #707070;
    }
    
    .imagediv {
        text-align: center;
        width: 207px;
        height: 134px;
        border-radius: 50%;
        position: absolute;
        margin: auto;
        top: 0;
        left: 0
    }
    
    .imagediv img {
        max-width: 100%;
        width: 100%;
        height: 100%;
        padding: 16px;
        padding-top: 24px;
    }
    
    .textdiv {
        border: 2px solid#d6504f;
        width: 90%;
        margin: auto;
        display: flex;
        flex-flow: column;
        align-items: center;
        border-radius: 15px;
        padding-top: 78px;
        background: #fff;
    }
    
    .linkright {
        text-decoration: none;
        text-transform: capitalize;
        color: #ffffff;
        padding: 8px 0px;
        position: absolute;
        right: 11px;
        color: #007bff;
    }
    
    .linkright:hover {
        text-decoration: underline;
    }
    /* @media (max-width: 1279px) {} */
    
    @media (max-width: 991px) {
        .logonotshosignup {
            display: none;
        }
        .imagediv {
            top: 12%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 150px;
            height: 107px;
        }
        .form-outer .form-element {
            margin-bottom: 3px;
        }
        .form-outer {
            width: 60%;
            transform: translate(-50%, -50%);
        }
    }
    
    @media (max-width: 767px) {
        .logonotshosignup {
            display: none;
        }
        .form-outer {
            padding: 20px 0;
            width: 60%;
            padding: 20px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .imagediv {
            top: 94px;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    
    @media (max-width: 576px) {
        .logonotshosignup {
            display: none;
        }
        .form-outer {
            padding: 20px 0;
            width: 80%;
            padding: 20px;
            transform: translate(-50%, -50%);
        }
        .imagediv {
            top: 73px;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 150px;
            height: 105px;
        }
        .form-outer .form-element {
            margin-bottom: 3px;
        }
        .form-outer h1 {
            color: #fff;
            font-size: 20px;
        }
    }