<div class="site-section contact-us-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12 text-center">
                <h2 class="title-heading" data-aos="fade-down">Contact Us</h2>
            </div>
        </div>
        <div class="contact-form siteForm">
            <span class="paper-clip"></span>
            <h2>Need consultation? We provide it for free!</h2>
            <div class="form-wrapper">
                <input type="text" placeholder="Name" />
            </div>
            <div class="form-wrapper">
                <input type="email" placeholder="Email" />
            </div>
            <div class="form-wrapper">
                <input type="tel" placeholder="Contact Number" />
            </div>
            <div class="form-wrapper">
                <textarea placeholder="Message"></textarea>
            </div>
            <div class="form-wrapper submit-btn">
                <a>Submit</a>
            </div>
        </div>
    </div>
</div>