.faltu-text {
    color: #fff;
    font-size: 14px;
    padding: 10px;
}

.nav {
    padding: 8px;
    background: #0e0e0e85;
}

.nav.navbar-brand {
    color: #66615b;
    text-transform: uppercase;
    display: flex;
    flex-flow: row;
}

.nav .navbar-brand img {
    max-width: 120px;
    transition: 0.5s all;
}

agm-map {
    height: calc(100vh - 117px);
}

.positiondiv {
    position: absolute;
    width: 100%;
    z-index: 1;
    bottom: 167px;
    background: transparent;
    text-align: center;
}

.positiondiv .card {
    width: 25%;
    margin: 0 auto;
    padding-bottom: 10px;
}

.stepper {
    position: fixed;
    box-shadow: 0px 0px 21px 0px #000000ad;
    width: 100%;
    bottom: 0;
    height: 65px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 15px;
    background: #fff;
}

button {
    font-size: 14px;
    border: unset;
    padding: 8px 0px;
    min-width: 82px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 4px;
    transition: 0.3s all;
    cursor: pointer;
    -webkit-animation: scale 2s infinite;
    animation: scale 2s infinite;
}

.stepper .rightSide button {
    background: #a9a9a985;
}

.stepper .leftside .backbutton {
    background: #a9a9a985;
}

.stepper .leftside .nextbuton {
    background: #ec3441;
    margin-left: 10px;
}


/*Form Field*/

.form-outer {
    padding: 20px 0;
    width: 30%;
    padding: 20px;
    margin: 0 auto;
    background: #00000057;
    position: absolute;
    right: 30px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px 4px #ffffff91;
}

.form-outer-signup {
    top: 20px;
}

.form-outer h1 {
    color: #fff;
}

.form-outer .form-element {
    margin-bottom: 10px;
    display: block;
}

.form-outer .col-12 {
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.form-outer .col-12 .form-element {
    width: 48%;
}

.form-outer .form-element.submit-btn {
    width: 100%;
    margin-bottom: 0;
}

.form-outer .form-element label {
    font-size: 14px;
    margin-bottom: 4px;
    text-align: left;
    display: block;
    color: #fff;
}

.form-outer .form-element input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 6px 15px;
}

.login100-form .form-element {
    margin-top: 20px;
}

.login100-form .form-element label {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: left;
    display: block;
    text-transform: none;
}

.login100-form .form-element label i {
    font-size: 24px;
    margin: 0px 10px;
    color: #ec3441;
}

.login100-form .form-element input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px 15px;
}

.toplocationshow {
    position: absolute;
    top: 50px;
    z-index: 1;
    background: #fff;
    width: 100%;
    padding: 10px 0px;
    padding-bottom: 0;
}

.toplocationshow .origin {
    display: flex;
    justify-content: space-between;
    flex-flow: row;
    padding: 10px 10px;
    border-bottom: 1px solid #d2d2d2;
}

.toplocationshow .origin .leftside {
    position: relative;
    display: inline-block;
}

.toplocationshow .origin .leftside i {
    font-size: 23px;
    color: #ec3441;
    margin-right: 10px;
}

.toplocationshow .origin .leftside span {
    position: relative;
    top: -10%;
    font-weight: 600;
    font-size: 16px;
}

.toplocationshow .destination {
    display: flex;
    justify-content: space-between;
    flex-flow: row;
    padding: 10px 10px;
}

.toplocationshow .destination .leftside {
    position: relative;
    display: inline-block;
}

.toplocationshow .destination .leftside i {
    font-size: 23px;
    color: #ec3441;
    margin-right: 10px;
}

.toplocationshow .destination .leftside span {
    position: relative;
    top: -10%;
    font-weight: 600;
    font-size: 16px;
}

.mapdiaplay {
    display: none;
}

.divliveryItem {
    height: 443px;
    max-height: 100%;
    overflow-y: auto;
    margin-top: 76px;
    z-index: 0;
    background: #e5e5e5;
    padding: 30px 10px;
}

.divliveryItem .titleheading h4 {
    text-align: center;
    color: #757575;
    font-weight: 700;
    font-size: 20px;
    margin-top: 20px;
}

.divliveryItem .searchDiv {
    background: transparent;
}

.divliveryItem .searchDiv .card {
    width: auto;
    margin-top: 20px;
    z-index: 0;
    max-width: 540px;
    text-align: center;
    margin: 20px auto 0;
}

.divliveryItem .searchDiv .card .searchingHeading h5 {
    text-align: center;
    color: #757575;
    font-size: 16px;
    font-weight: 700;
}

.divliveryItem .searchDiv .card .login100-form .form-element {
    position: relative;
}

.divliveryItem .searchDiv .card .login100-form .form-element button {
    position: absolute;
    right: 0;
    min-width: 50px;
    width: 50px;
    height: 44px;
    background: #e5e5e5;
    color: #757575;
    font-size: 24px;
    cursor: pointer;
}

.divliveryItem .searchDiv .card .login100-form .form-element input {
    padding: 12px 3px 13px 12px;
    background-color: #e5e5e5;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.divliveryItem .itemHeading h4 {
    text-align: center;
    color: #757575;
    font-weight: 700;
    font-size: 20px;
    margin-top: 20px;
}

.divliveryItem .accordion-head i {
    font-size: 20px;
    float: right;
    color: #90909a;
    font-size: 20px;
    font-weight: 800;
    position: absolute;
    top: 50%;
    right: 17px;
    transform: translate(0%, -50%);
}

.divliveryItem .accordion-head>.collapsed>i:before {
    content: "\f105";
}

a {
    display: block;
}

a:hover {
    text-decoration: none;
}

.divliveryItem .accordion-head a {
    position: relative;
}

.divliveryItem #accordion {
    width: auto;
    margin-top: 20px;
    z-index: 0;
    max-width: 540px;
    text-align: center;
    margin: 20px auto 0;
    background: #fff;
}

.divliveryItem #accordion .card {
    background: none;
    border: none;
    border-bottom: 1px solid #69676730;
    border-radius: 0;
    padding: 20px;
}

.divliveryItem #accordion .card-header {
    background: none;
    padding: 0;
    border-bottom: none;
}

.divliveryItem #accordion .card .card-header h3 {
    color: #757575cc;
    margin-bottom: 0;
    font-size: 18px;
    padding: 15px 19px;
    padding-right: 25px;
    font-weight: 700;
    text-align: left;
    letter-spacing: 0px;
    font-size: 20px;
    text-transform: capitalize;
}

.divliveryItem #accordion .card-block ul {
    font-size: 16px;
    letter-spacing: 0.8px;
    line-height: 24px;
    color: #757575cc;
    font-family: serif;
    padding-left: 15px;
}

.divliveryItem #accordion .card-block ul li {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 26px;
    color: #757575cc;
    font-family: serif;
    padding-left: 15px;
    list-style: none;
    text-align: left;
    text-transform: capitalize;
    padding: 10px 10px;
    border-bottom: 1px solid #dcdbdb;
}

.divliveryItem #accordion .card-block ul li:last-child {
    border-bottom: none;
}


/* @media (max-width: 767px) {
    .faq-section {
        padding: 45px 0;
        padding-bottom: 60px;
    }
    .card-block p {
        line-height: 26px;
        ;
        letter-spacing: normal;
    }
    .faq-section:after {
        display: none;
    }
    .card .card-header h3 {
        font-size: 16px;
        letter-spacing: normal;
    }
} */