<div class="nav d-flex justify-content-between">
    <a class="navbar-brand" routerLink="">
        <img src="assets/imgs/logoSmall3.png" class="logo-small">
        <span class="faltu-text">The Uber® of Moving Stuff</span>
    </a>
    <div class="struck_Imag position-relative">
        <img src="./assets/imgs/truck_Logo_White.png" class="img-fluid" alt="truck">
        <p class="position-absolute mb-0 countclass">
            {{selectedItemList.length}}
        </p>
    </div>
</div>
<div class="toplocationshow" *ngIf="pickupLocation == false">
    <div class="origin" *ngIf="pickUpLocationName.length != 0">
        <div class="leftside">
            <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
            <span>Pick Up Address</span>
        </div>
        <div class="showLocation">
            {{pickUpLocationName}}
        </div>

    </div>
    <div class="destination" *ngIf="destinationLocationName.length != 0">
        <div class="leftside">
            <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
            <span>Delivery Address</span>
        </div>
        <div class="showLocation">
            {{destinationLocationName}}
        </div>

    </div>

</div>
<div [ngClass]="{'mapdiaplay':itemList.length != 0}">
    <agm-map [latitude]='lat' [longitude]='lng' [zoom]="13" mapDraggable="true" [mapTypeControl]="false"
        [streetViewControl]="false" [rotateControl]="true" [fullscreenControl]="false" [zoomControl]="false"
        gestureHandling="none" *ngIf="itemList.length == 0">
        <agm-marker [latitude]="lat" [longitude]="lng" [markerDraggable]="false"></agm-marker>
    </agm-map>
    <div class="positiondiv">
        <div class="card">
            <div class="card-body">
                <form class="login100-form">
                    <div class="form-element">
                        <label> <i [ngClass]="getReturnClass(iconDisplay)"
                                aria-hidden="true"></i>{{textboxLabel}}</label>
                        <input placeholder="{{textBoxPLaceBolder}}" type="text" id="address" autocomplete="off"
                            name="address" required autocorrect="off" autocapitalize="off" spellcheck="off" #search />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>





<div class="divliveryItem" *ngIf="showItemPage && itemList.length != 0">

    <div class="titleheading">
        <h4>Book a Delivery</h4>
    </div>
    <div class="searchDiv">
        <div class="card">
            <div class="card-body">
                <div class="searchingHeading">
                    <h5>Search Items</h5>
                </div>
                <form class="login100-form">
                    <div class="form-element">
                        <input placeholder="Search...." type="text" id="seaching" autocomplete="off" required
                            autocorrect="off" autocapitalize="off" [(ngModel)]="searchingValue"
                            (keyup)="searching(searchingValue)" [ngModelOptions]="{standalone: true}" />
                        <button><i class="fa fa-search" aria-hidden="true"></i></button>
                    </div>
                </form>
                <div id="accordion" class="listBox " *ngIf="searchItemList.length != 0 ">

                    <div class="card ">
                        <div class="card-block col-12">
                            <ul>
                                <li *ngFor="let submenu of searchItemList">
                                    <div class="outerdiv"
                                        (click)="submenu.item_boolean = !submenu.item_boolean; onItemClicked(submenu);">
                                        <div class="imagesdiv">
                                            <img src="./assets/imgs/{{submenu.item_icon}}" alt="">
                                        </div>
                                        <span>{{submenu.item_Name}}</span>
                                    </div>
                                    <div class="showcount" *ngIf="submenu.item_boolean || submenu.quantity>0">
                                        <div class="count">
                                            <i class="fa fa-plus" aria-hidden="true"
                                                (click)="updateSelectedItemList(submenu,submenu.quantity=submenu.quantity+1)"></i>
                                            <span>{{submenu.quantity}}</span>
                                            <i class="fa fa-minus" aria-hidden="true"
                                                (click)="submenu.quantity>0?updateSelectedItemList(submenu,submenu.quantity=submenu.quantity-1): null"></i>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="itemHeading">
        <h4>Select Your Item By Size</h4>
    </div>


    <div id="accordion" role="tablist" aria-multiselectable="true">

        <!-- Accordion Item 1 -->
        <div class="card" *ngFor="let items of itemList;let i=index;">
            <div class="card-header" role="tab" id="items.item_type_id">
                <div class="mb-0 row">
                    <div class="col-12  accordion-head">
                        <a data-toggle="collapse" data-parent="#accordion" href="#accordionBodyOne_{{i}}"
                            aria-expanded="false" aria-controls="accordionBodyOne" class="collapsed ">
                            <div class="outerdiv">
                                <div class="imagesdiv">
                                    <img src="./assets/imgs/{{items.item_type_icon}}" alt="">
                                </div>
                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                                <h3>{{items.item_type_name}}</h3>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div id="accordionBodyOne_{{i}}" class="collapse" role="tabpanel" aria-labelledby="items.item_type_id"
                aria-expanded="false" data-parent="accordion">
                <div class="card-block col-12">
                    <ul>
                        <li *ngFor="let submenu of items.item_list">
                            <div class="outerdiv"
                                (click)="submenu.item_boolean = !submenu.item_boolean; onItemClicked(submenu);">
                                <div class="imagesdiv">
                                    <img src="./assets/imgs/{{submenu.item_icon}}" alt="">
                                </div>
                                <span>{{submenu.item_Name}}</span>
                            </div>
                            <div class="showcount" *ngIf="submenu.item_boolean  || submenu.quantity>0">
                                <div class="count">
                                    <i class="fa fa-plus" aria-hidden="true"
                                        (click)="updateSelectedItemList(submenu,submenu.quantity=submenu.quantity+1)"></i>
                                    <span>{{submenu.quantity}}</span>
                                    <i class="fa fa-minus" aria-hidden="true"
                                        (click)="submenu.quantity>0?updateSelectedItemList(submenu,submenu.quantity=submenu.quantity-1): null"></i>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="divliveryItem selectDateandTime" *ngIf="dateSelectedPage && dateList.length != 0 ">

    <div class="titleheading">
        <h4>Schedule Your Delivery</h4>
    </div>
    <div class="card">
        <div class="card-body">

  <div class="d-flex flex-row calsstopButton">
      <a  (click)="selctedDateCategory('selectbydatetime')" [ngClass]="{'topbuttonactive':selecteddatebutton == true}">Select date and Time </a>
      <a  (click)="selctedDateCategory('rightnow')"  [ngClass]="{'topbuttonactive':rightNowButton == true}">Right Now</a>
  </div>
            <div  *ngIf="selecteddatebutton">
                <div style="text-align: center;">
                 <p class="text-center font-weight-bold w-100 py-3">Select your preferred date and time</p>    
                </div>
                <div class="dateShow">
                    <div class="data" *ngFor="let datedata of dateList ;let i=index;"
                        [ngClass]="{'active':datedata.showtime == true}" (click)="setSelectedDate(datedata.date_Id)">
                        <Span class="day">{{datedata.date | date:'EEE' }}</Span>
                        <Span class="date">{{datedata.date | date:'dd/MM' }}</Span>
                    </div>
                </div>
                <div class="timeShow" *ngIf="showtimefalse">
                    <ng-container *ngFor="let timedata of timearrayList">
                        <div class="dataTime" [ngClass]="{'selectedTimeClass':timedata.isactive}"
                            (click)="setTimeSlot(timedata.time_slot_id)">
                            <div class="timeSlotDiv">
                                <span class="text">{{timedata.full_length_statingtime}}</span>
                            </div>
                            <span class="minus">-</span>
                            <div class="timeSlotDiv">
                                <span class="text">{{timedata.full_length_endingtime}}</span>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>

            <div *ngIf="rightNowButton">
              <p class="py-3 w-100 text-center font-weight-bold">{{ selectedDate  | date:'medium'}}</p>  
            </div>
           
        </div>

    </div>
</div>

<div class="divliveryItem formFiled" *ngIf="formFieldshow">

    <div class="titleheading">
        <h4>Enter Your Contact Details</h4>
    </div>
    <div class="card">
        <div class="card-body">
      

                <!-- <div class="form-wrapper">
                    <input type="text" placeholder="Name" autocomplete="off" [(ngModel)]="name"
                        [ngModelOptions]="{standalone: true}" />
                </div>
                <div class="form-wrapper">
                    <input type="email" placeholder="Email" autocomplete="off" [(ngModel)]="email"
                        [ngModelOptions]="{standalone: true}" />
                </div>
                <div class="form-wrapper">
                    <input type="tel" placeholder="Contact Number" (keypress)="keyPress($event)" autocomplete="off"
                        maxlength="11" [(ngModel)]="phonenumber" [ngModelOptions]="{standalone: true}" />
                </div>
                <div class="form-wrapper">
                    <input type="any_information" placeholder="Any special instructions?" autocomplete="off"
                        maxlength="11" />
                </div> -->

                <form [formGroup]="formGroup"  class="form cutomform">
                    <mat-form-field  [hideRequiredMarker]="hideRequiredControl.value"
                    [floatLabel]="floatLabelControl.value">
                        <mat-label>Full Name</mat-label>
                        <input matInput placeholder="Enter Full Name" formControlName="name" required>
                        <mat-error  *ngIf="formGroup.controls.name.hasError('required')">
                             Full Name is required
                        </mat-error>
                      </mat-form-field>
                    <mat-form-field   [hideRequiredMarker]="hideRequiredControl.value"
                    [floatLabel]="floatLabelControl.value">
                        <mat-label>Email</mat-label>
                      <input matInput placeholder="Enter email address" formControlName="email" required>
                      <mat-error *ngIf="!formGroup.controls['email'].valid && formGroup.controls['email'].touched" >
                        {{ getErrorEmail() }}
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field  [hideRequiredMarker]="hideRequiredControl.value"
                    [floatLabel]="floatLabelControl.value" >
                        <mat-label>Phone Number </mat-label>
                        <input matInput formControlName="mobileNumber" maxlength="10" (keypress)=_keyPress($event) required>
                        <mat-error *ngIf="formGroup.controls.mobileNumber.hasError('required')">
                           Phone number is required
                        </mat-error>
                        <mat-error *ngIf="formGroup.controls.mobileNumber.hasError('maxLength')">
                           Phone number is not a valid
                        </mat-error>
                        <mat-error *ngIf="formGroup.controls.mobileNumber.hasError('minLength')">
                           Phone number is not a valid
                        </mat-error>
                        <!-- <mat-error *ngIf="formGroup.controls.mobileNumber.hasError('pattern')">
                            It is not a valid mobile number.
                        </mat-error> -->
                    </mat-form-field>
                    <mat-form-field  class="p-0" [hideRequiredMarker]="hideRequiredControl.value"
                    [floatLabel]="floatLabelControl.value">
                        <mat-label>Any special instructions?(optional)</mat-label>
                        <input matInput placeholder="Any special instructions?"  formControlName="any_special_instruction">
                      
                      </mat-form-field>
                

                

                
                  </form>


            




        </div>
    </div>

</div>
<div class="divliveryItem finallist" *ngIf="showFinallist">

    <div class="titleheading">
        <h4>Confirm Your PICKUP Delivery Order</h4>
    </div>
    <div class="card">
        <div class="card-body">
            <ul>
                <li style="padding:0;">
                    <div class="productShow">
                        <div *ngFor="let item of selectedItemList " class="outerdiv">
                            <div class="imagesdiv">
                                <img src="./assets/imgs/{{item.item_icon}}" alt="item.item_Name">
                            </div>
                            <div class="showQuanity">
                                <span>{{item.item_Name}}</span>
                                <p> Quanity: <span>{{item.quantity}}</span></p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="topheading">
                        <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
                        <span>Pick Up Address</span>

                    </div>
                    <div class="address">
                        <span>{{pickUpLocationName}}</span>
                    </div>
                </li>
                <li>
                    <div class="topheading">
                        <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
                        <span>Delivery Address</span>
                    </div>
                    <div class="address">
                        <span>{{destinationLocationName}}</span>
                    </div>
                </li>
                <li>
                    <div class="topheading">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        <span>Delivery Date & Time</span>
                    </div>
                    <div class="time">
                        <span>Date : {{ selectedDate | date:'fullDate' }}</span>
                        <span>Time : {{selectedTimeSlot}}</span>
                    </div>
                </li>
                <li>
                    <div class="topheading">
                        <i class="fa fa-usd pricelogo" aria-hidden="true"></i>
                        <span>Price</span>

                    </div>
                    <div class="total">
                        <span>Total</span>
                        <span>{{priceForDelivery}}</span>

                    </div>
                    <!-- <div class="Price">
                        <span>Promo Code?</span>
                    </div> -->
                </li>
            </ul>
        </div>
    </div>


</div>




<div class="stepper">
    <div class="rightSide">
        <button (click)="clickReset()" [disabled]="pickupLocation">Reset</button>
    </div>
    <div class="leftside">
        <button class="backbutton" (click)="gotoBack()" *ngIf="pickupLocation == false">Back</button>
        <button class="nextbuton" (click)="gotoNext()" [disabled]="toggelNextBtn()"
            *ngIf="showFinallist == false">Next</button>
        <button class="nextbuton" (click)="gotoNext()" *ngIf="showFinallist == true">Checkout</button>
    </div>
</div>



<ng-template #modalDiaolg>
    <div class="modal-body" style="text-align: center; ">
        <div class="title-heading">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            <span>Sorry, you're out of our service area</span>
        </div>
        <div class="lowerText">
            <span>We're not available in your area yet. Check back with us again soon!</span>
        </div>
    </div>
</ng-template>
<ng-template #distanceModal>
    <div class="modal-body" style="text-align: center; ">
        <div class="title-heading">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            <span>Sorry, you're out of our service area</span>
        </div>
        <div class="lowerText">
            <span>We're unable to deliver 25 miles outside of your service area. Questions? Please call us </span>
        </div>
    </div>
</ng-template>