.faltu-text {
    color: #fff;
    font-size: 14px;
    padding: 10px;
}

.nav {
    padding: 8px;
    background: #0e0e0e85;
}

.nav.navbar-brand {
    color: #66615b;
    text-transform: uppercase;
    display: flex;
    flex-flow: row;
}

.nav .navbar-brand img {
    max-width: 120px;
    transition: 0.5s all;
}


.nav .struck_Imag{
    width: 117px;
    height: 43px;

}
.nav .struck_Imag .countclass{
    top: 4px;
    right: 42px;
    font-weight: bolder;
    color: #fff;
    font-size: 25px;
}

.nav .struck_Imag img{
    width: 100%;
    height: 100%;
}

agm-map {
    height: calc(100vh - 103px);
}

.positiondiv {
    position: absolute;
    width: 500px;
    z-index: 1;
    top: 66%;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 130px;
    background: transparent;
    text-align: center;
}

.positiondiv .card {
    max-width: 500px;
    margin: 0 auto;
}

.stepper {
    position: fixed;
    box-shadow: 0px 0px 21px 0px #000000ad;
    width: 100%;
    bottom: -22px;
    height: 65px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 15px;
    background: #fff;
}

button {
    font-size: 14px;
    border: unset;
    padding: 8px 0px;
    min-width: 82px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 4px;
    transition: 0.3s all;
    cursor: pointer;
    -webkit-animation: scale 2s infinite;
    animation: scale 2s infinite;
}

.stepper .rightSide button {
    background: #ec3441;
}

.stepper .leftside .backbutton {
    background: #ec3441;
}

.stepper .leftside .nextbuton {
    background: #ec3441;
    margin-left: 10px;
}

.stepperButtons{
    position: relative;
    top: -12px;
}

/*Form Field*/

.form-outer {
    padding: 20px 0;
    width: 30%;
    padding: 20px;
    margin: 0 auto;
    background: #00000057;
    position: absolute;
    right: 30px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px 4px #ffffff91;
}

.form-outer-signup {
    top: 20px;
}

.form-outer h1 {
    color: #fff;
}

.form-outer .form-element {
    margin-bottom: 10px;
    display: block;
}

.form-outer .col-12 {
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.form-outer .col-12 .form-element {
    width: 48%;
}

.form-outer .form-element.submit-btn {
    width: 100%;
    margin-bottom: 0;
}

.form-outer .form-element label {
    font-size: 14px;
    margin-bottom: 4px;
    text-align: left;
    display: block;
    color: #fff;
}

.form-outer .form-element input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 6px 15px;
}

.login100-form .form-element {
    padding: 20px 0;
}

.login100-form .form-element label {
    width: 80%;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: left;
    text-transform: none;
}
.login100-form .form-element label:nth-of-type(even) {
    width: 20%;
    font-size: 20px;
    margin: 6px 0px;
    text-align: left;
    text-transform: none;
}

.login100-form .form-element label i {
    font-size: 19px;
    margin: 0px 10px;
    color: #ec3441;
}

.login100-form .form-element input {
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px 15px;
}

.login100-form .form-element input:nth-of-type(even) {
    float: right;
    width: 22%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px 15px;
}

.toplocationshow {
    position: absolute;
    top: 59px;
    z-index: 1;
    background: #fff;
    width: 100%;
    padding: 10px 0px;
    padding-bottom: 0;
}

.toplocationshow .origin {
    display: flex;
    justify-content: space-between;
    flex-flow: row;
    padding: 5px 10px;
    border-bottom: 1px solid #d2d2d2;
}

.toplocationshow .origin .leftside {
    position: relative;
    display: inline-block;
}

.toplocationshow .origin .leftside i {
    font-size: 23px;
    color: #ec3441;
    margin-right: 10px;
}

.toplocationshow .origin .leftside span {
    position: relative;
    top: -10%;
    font-weight: 600;
    font-size: 16px;
}

.toplocationshow .destination {
    display: flex;
    justify-content: space-between;
    flex-flow: row;
    padding: 5px 10px;
    border-bottom: 1px solid #d2d2d2;
}

.toplocationshow .destination .leftside {
    position: relative;
    display: inline-block;
}

.toplocationshow .destination .leftside i {
    font-size: 23px;
    color: #ec3441;
    margin-right: 10px;
}

.toplocationshow .destination .leftside span {
    position: relative;
    top: -10%;
    font-weight: 600;
    font-size: 16px;
}

.mapdiaplay {
    display: none;
}

.finallist {
    height: calc(100vh - 59px) !important;
    padding-top: 0px !important;
}

.divliveryItem {
    height: calc(100vh - 176px);
    max-height: 100%;
    overflow-y: auto;
    margin-top: 74px;
    z-index: 0;
    background: #e5e5e5;
    padding: 30px 10px;
}
.close-modal-button{
    position: absolute !important;
    top: 47% !important;
    left: 95% !important;
    font-size: 2rem !important;
}

.divliveryItem .titleheading h4 {
    text-align: center;
    color: #757575;
    font-weight: 700;
    font-size: 20px;
    margin-top: 20px;
}

.divliveryItem .searchDiv {
    background: transparent;
}
.divliveryItem .searchDiv .notes {
    position: absolute;
    right: 83px;
    top: 33px;
    color: #ec3441;
    font-size: 15px;
    width: 279px;
    padding: 10px;
    border-left: 4px solid #ec3441;
    background: #ec344154;
}
.divliveryItem .searchDiv .notes span {
color: #fff !important;
}

.divliveryItem .searchDiv .card {
    width: auto;
    margin-top: 20px;
    z-index: 0;
    max-width: 540px;
    text-align: center;
    margin: 20px auto 0;
}

.divliveryItem .searchDiv .card .searchingHeading h5 {
    text-align: center;
    color: #757575;
    font-size: 16px;
    font-weight: 700;
}

.divliveryItem .searchDiv .card .login100-form .form-element {
    position: relative;
}

.divliveryItem .searchDiv .card .login100-form .form-element button {
    position: absolute;
    right: 0;
    min-width: 50px;
    width: 50px;
    height: 44px;
    background: #e5e5e5;
    color: #757575;
    font-size: 24px;
    cursor: pointer;
}

.divliveryItem .searchDiv .card .login100-form .form-element input {
    width: 100%;
    padding: 12px 3px 13px 12px;
    background-color: #e5e5e5;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.divliveryItem .searchDiv .listBox .card {
    border: unset;
}

.divliveryItem .searchDiv .listBox .card .card-body .outerdiv {
    display: flex;
    flex-flow: row;
}

.divliveryItem .searchDiv .listBox .card .card-body .outerdiv h3 {
    color: #757575cc;
    margin-bottom: 0;
    font-size: 18px;
    padding: 22px 0px;
    padding-right: 25px;
    font-weight: 500;
    text-align: left;
    letter-spacing: 0px;
    font-size: 19px;
    text-transform: capitalize;
}

.divliveryItem .searchDiv .listBox .card .card-body .outerdiv .imagesdiv {
    width: 70px;
    height: 70px;
}

.divliveryItem .searchDiv .listBox .card .card-body .outerdiv .imagesdiv img {
    width: 100%;
}

.divliveryItem .itemHeading h4 {
    text-align: center;
    color: #757575;
    font-weight: 700;
    font-size: 20px;
    margin-top: 20px;
}

.divliveryItem .accordion-head i {
    font-size: 20px;
    float: right;
    color: #90909a;
    font-size: 20px;
    font-weight: 800;
    position: absolute;
    top: 50%;
    right: 17px;
    transform: translate(0%, -50%);
}

.divliveryItem .accordion-head>.collapsed>i:before {
    content: "\f105";
}

a {
    display: block;
}

a:hover {
    text-decoration: none;
}

.divliveryItem .accordion-head a {
    position: relative;
}

.divliveryItem #accordion {
    width: auto;
    margin-top: 20px;
    z-index: 0;
    max-width: 540px;
    text-align: center;
    margin: 20px auto 0;
    background: #fff;
    border-radius: 20px;
}

.divliveryItem #accordion .card {
    background: none;
    border: none;
    border-bottom: 1px solid #69676730;
    border-radius: 0;
    padding: 20px;
}

.divliveryItem #accordion .card-header {
    background: none;
    padding: 0;
    border-bottom: none;
}

.divliveryItem #accordion .card .card-header .outerdiv {
    display: flex;
    flex-flow: row;
}

.divliveryItem #accordion .card .card-header .outerdiv .imagesdiv {
    width: 70px;
    height: 70px;
}

.divliveryItem #accordion .card .card-header .outerdiv .imagesdiv img {
    width: 100%;
}

.divliveryItem #accordion .card .card-header .outerdiv h3 {
    color: #757575cc;
    margin-bottom: 0;
    font-size: 18px;
    padding: 18px 19px;
    padding-right: 25px;
    font-weight: 700;
    text-align: left;
    letter-spacing: 0px;
    font-size: 20px;
    text-transform: capitalize;
}

.divliveryItem #accordion .card-block ul {
    font-size: 16px;
    letter-spacing: 0.8px;
    line-height: 24px;
    color: #757575cc;
    font-family: serif;
    padding-left: 15px;
}

.divliveryItem #accordion .card-block ul li {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 26px;
    color: #757575cc;
    font-family: serif;
    padding-left: 15px;
    list-style: none;
    text-align: left;
    text-transform: capitalize;
    padding: 10px 10px;
    border-bottom: 1px solid #dcdbdb;
    cursor: pointer;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    position: relative;
}
/* .card-block ul li:hover{
    background-color: rgba(244,67,54,0.3);
    opacity: 0.5;
} */
.divliveryItem #accordion .card-block ul li .outerdiv {
        display: flex;
    flex-flow: row;
    width: 100%
}

.divliveryItem #accordion .card-block ul li .outerdiv .imagesdiv {
    width: 70px;
    height: 70px;
}

.divliveryItem #accordion .card-block ul li .outerdiv .imagesdiv img {
    width: 100%;
}

.divliveryItem #accordion .card-block ul li .outerdiv span {
  
    padding: 19px 5px;
    display: block;
    width: 318px;
    word-wrap: break-word;
}

/* .divliveryItem #accordion .card-block ul li .showcount {
    text-align: right;
    width: 100%; 
} */

.divliveryItem #accordion .card-block ul li .showcount .count {
    position: absolute; 
    right: 0;
    top: 25px;
}

.divliveryItem #accordion .card-block ul li .showcount .count i {
    padding: 10px;
    cursor: pointer;
}

.divliveryItem #accordion .card-block ul li:last-child {
    border-bottom: none;
}

.mycard ul li {
    list-style: none;
    border-bottom: 1px solid gray;
    cursor: pointer;
}

.mycard ul li .outerdiv {
    display: flex;
    flex-flow: row;
}

.mycard ul li .outerdiv span {
    padding: 26px 0px;
}

.mycard ul li .showcount {
    text-align: right;
    width: 100%;
}

.mycard ul li .showcount .count {
    position: absolute;
    right: 12px;
    top: 41px;
}

.mycard ul li .showcount .count i {
    padding: 10px;
    cursor: pointer;
    color: #868686;
}

.mycard ul li:last-child {
    border-bottom: none;
}

.selectDateandTime .card {
    max-width: 450px;
    margin: 20px auto 100px;
}

.selectDateandTime  .calsstopButton {
    text-align: center;
}
.selectDateandTime  .calsstopButton a{
    padding: 8px;
    text-align: center;
    width: 100%;
    margin: 3px;
    font-size: 13px;
    border: 2px solid #ec3441;
    cursor: pointer;
    border-radius: 50px;
    color: #ec3441
}
.topbuttonactive{
    border: 1px solid #fff !important;
    background: #ec3441;
    color: #fff !important;
}

.card {
    border-radius: 20px;
}

.selectDateandTime .card .dateShow {
    display: flex;
    margin-top: -20px;
    padding-bottom: 10px;
    justify-content: center;
}

.selectDateandTime .card .dateShow .data {
    width: 70px;
    height: 70px;
    position: relative;
    border-radius: 100%;
    color: #ec3542;
    background: initial;
    cursor: pointer;
    border: 3px solid #ec3441;
    margin: 8px;
    font-weight: 500;
}

.selectDateandTime .card .dateShow .data.active {
    color: #fff;
    background: #ec3441;
    cursor: pointer;
    border: 2px solid #fff;
}

.selectDateandTime .card .dateShow .data .day {
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.selectDateandTime .card .dateShow .data .date {
    position: absolute;
    top: 64%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.selectDateandTime .card .timeShow {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.selectDateandTime .card .timeShow .dataTime {
    width: calc(49.3% - 10px);
    border: 2px solid #ec3542;
    margin: 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    color: #ec3542;
    font-size: 17px;
    border-radius: 4px
}

.selectDateandTime .card .timeShow .dataTime .timeSlotDiv {
    display: flex;
    flex-flow: column;
    justify-content: center;
    font-weight: 600;
}

.selectDateandTime .card .timeShow .dataTime .timeSlotDiv .text {
    padding: 0px 5px;
}

.selectDateandTime .card .timeShow .dataTime .minus {
    padding: 22px 2px;
    font-size: 41px;
    font-weight: 500;
}

.formFiled .card {
    margin: 20px auto 0;
    padding-top: 26px;
    padding-bottom: 26px;
    max-width: 500px;
}

.formFiled .card .form-wrapper {
    display: block;
    margin-bottom: 25px;
}

.formFiled .card .form-wrapper input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #c1c1c1;
    padding: 12px 0;
}

.formFiled .card .form-wrapper input:focus {
    border-color: #e92330;
}

.form-wrapper.submit-btn {
    margin-top: 35px;
    margin-bottom: 15px;
    text-align: center;
}

.formFiled .card .form-wrapper textarea {
    height: 100px;
    resize: none;
    width: 100%;
    border: none;
    border-bottom: 1px solid #c1c1c1;
}

.formFiled .card .form-wrapper textarea:focus {
    border-color: #e92330;
}

.finallist .card {
    max-width: 500px;
    margin: 20px auto 50px;
    background-color: #fff;
}

.finallist .card .card-body {
    padding: 0px;
}

.finallist .card .card-body ul {
    padding: 0;
}

.finallist .card .card-body ul li {
    list-style: none;
    padding: 10px;
    border-bottom: 1px solid #e5e5e5;
}

.finallist .card .card-body ul li:last-child {
    border-bottom: unset;
}

.finallist .card .card-body ul li .topheading {
    padding: 10px 10px;
    font-size: 18px;
    font-weight: 700;
}

.finallist .card .card-body ul li .topheading .addShiftSpace{
    float: right;
}

.align-amount{
    position: relative;
    top: 5px;
}

.finallist .card .card-body ul li .topheading i {
    margin-right: 5px;
    font-size: 24px;
    color: #e92330;
    position: relative;
    top: 2px;
}

.finallist .card .card-body ul li .topheading i.pricelogo {
    padding-left: 5px;
}

.finallist .card .card-body ul li .address span {
    padding-left: 50px;
    font-size: 15px;
    font-weight: 400;
}

.finallist .card .card-body ul li .time span {
    padding-left: 50px;
    display: block;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 400;
}

.finallist .card .card-body ul li .total {
    padding-left: 50px;
    font-size: 15px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
}

.finallist .card .card-body ul li .Price {
    text-align: end;
    padding-right: 13px;
    cursor: pointer;
    color: #E92331;
}


/* .finallist .card .card-body .productShow {
     display: flex;
    flex-flow: row;
    justify-content: center; 
} */

.max-width-none{
    max-width: none;
}

.finallist .card .card-body .productShow .outerdiv {
    display: flex;
    flex-flow: row;
    border-bottom: 1px solid #e5e5e5;
}

.finallist .card .card-body .productShow .outerdiv:last-child {
    border-bottom: unset;
}

.finallist .card .card-body .productShow .outerdiv .showQuanity {
    padding: 15px 0px;
    font-weight: 700;
    color: #dc3545;
}

.finallist .card .card-body .outerdiv h3 {
    color: #757575cc;
    margin-bottom: 0;
    font-size: 18px;
    padding: 22px 0px;
    padding-right: 25px;
    font-weight: 500;
    text-align: left;
    letter-spacing: 0px;
    font-size: 19px;
    text-transform: capitalize;
}

.finallist .card .card-body .productShow .outerdiv .imagesdiv {
    width: 70px;
    height: 70px;
}

.finallist .card .card-body .productShow .outerdiv .imagesdiv img {
    width: 100%;
}

.selectedTimeClass {
    color: #fff !important;
    background: #ec3441;
    cursor: pointer !important;
}
/* 
.divliveryItem {
    /* background: url("../../../assets/imgs/delivery_background2.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
}*/
@media (max-width: 1200px){
        .divliveryItem .searchDiv .notes{right: 0;top: 0;max-width: 260px;}
        .divliveryItem .searchDiv .card{max-width: 400px;}
        .divliveryItem #accordion{max-width: 400px;margin-bottom: 80px;}
        .divliveryItem #accordion .card .card-header .outerdiv{align-items: center;}
        .divliveryItem #accordion .card .card-header .outerdiv h3{padding: 0 10px;}
        .divliveryItem #accordion .card .card-header .outerdiv .imagesdiv{height: unset;width: unset;}
        .divliveryItem #accordion .card .card-header .outerdiv .imagesdiv img{max-width: 60px;}
        .divliveryItem #accordion .card{padding: 15px;}
        .divliveryItem #accordion .card-block ul li{padding-bottom: 20px;}
        .divliveryItem #accordion .card-block ul li .showcount .count{    position: absolute;
            bottom: 0;
            right: 0;
            align-items: center;
            display: flex;}
            .formFiled .card{margin-bottom: 80px;padding:0}
}
@media (max-width: 992px){
    .divliveryItem{height: 100%;}
    .divliveryItem .searchDiv .notes{margin: 0 auto;position: relative;}
    .divliveryItem #accordion .card-block ul li .outerdiv .imagesdiv img{max-width: 50px;}
    .divliveryItem #accordion .card-block ul li .outerdiv{align-items: center;}
    .divliveryItem #accordion .card-block ul{margin-bottom: 0;padding-left: 0;}
    .divliveryItem #accordion .card-block ul li .outerdiv .imagesdiv{height: unset;width: unset;}
    .divliveryItem #accordion .card-block ul li .outerdiv span{padding: 0 10px;}
}
@media (max-width: 767px){
    .positiondiv{
        top: 50%;
        bottom: unset;
        transform: translate(0,-50%);
    }

    .login100-form .form-element label{font-size: 16px;margin-bottom: 15px;}
    .login100-form .form-element{padding: 10px 0;}
    .positiondiv .card{max-width: 400px;}
    .positiondiv .card-body{padding: 10px 8px;}
}
@media (max-width: 500px) {
    .nav .struck_Imag{width: 100px;height: 40px;}
    .toplocationshow{top: 55px;padding: 0;}
    .faltu-text{display: none;}
    .nav .struck_Imag .countclass{font-size: 20px;right: 40;}
    .login100-form .form-element{padding:0;}
    .positiondiv .card{max-width: 300px;}

    .toplocationshow .origin .leftside{    display: flex;
        align-items: center;}
        .showLocation{font-size: 12px;}
    .toplocationshow .origin .leftside span{font-size: 12px;top: 0}  
    .toplocationshow .destination .leftside{display: flex; align-items: center;}
    .toplocationshow .destination .leftside span{font-size: 12px;}
    .divliveryItem #accordion .card{padding: 10px}
    .divliveryItem #accordion .card .card-header .outerdiv h3{font-size: 16px;}
    .divliveryItem #accordion .card .card-header .outerdiv .imagesdiv img{max-width: 50px;}

    .selectDateandTime .calsstopButton{flex-wrap: wrap;}
    .selectDateandTime .calsstopButton a{padding: 7px}
    .selectDateandTime .card .timeShow .dataTime{width: 100%;font-size: 15px;}
    .selectDateandTime .card .timeShow .dataTime .minus{padding:12px 2px}
    .finallist .card .card-body ul li .topheading{
        font-size: 12px;
    }
    .finallist .card .card-body ul li .address span{
        font-size: 12px;
    }
    .finallist .card .card-body ul li .time span{
        font-size: 12px;
    }
    .finallist .card .card-body ul li .total{
        font-size: 12px;
    }

    .finallist .card .card-body ul li .topheading i {
        font-size: 15px;;
    }
    .divliveryItem #accordion .card-block ul li .showcount .count{
        top: -12px;
    }
    .divliveryItem .titleheading h4{
        font-size: 15px;
    }
   
}





/* @media (max-width: 767px) {
    .faq-section {
        padding: 45px 0;
        padding-bottom: 60px;
    }
    .card-block p {
        line-height: 26px;
        ;
        letter-spacing: normal;
    }
    .faq-section:after {
        display: none;
    }
    .card .card-header h3 {
        font-size: 16px;
        letter-spacing: normal;
    }
} */

