<header>
    <div class="banner-content">
        <h1>Is your car too small to fit your oversized delivery?</h1>
        <p>Look no further you just at the right place , As we are a band of creative people who thinks that we are in the era of excellence and perfection where we care for your products and deliver it with integrity.</p>
        <!-- <a class="common-btn" (click)="toTop($event)">Advertisment</a> -->
        <a class="common-btn" routerLink="/advertisement">Advertisement</a>
    </div>
</header>