<header>
    <div class="banner-content">
        <h1>Look no further! You already made your best move! Now let’s move forward.</h1>
        <p>We are a band of creative people who know that we are in an era of perfection. We care for your products and
            deliver them with integrity and seamless integration, all with the click of a mouse or the ease of a phone
            call. We’re not your grandfather’s
            moving company, we are the best in-class. GET IT HOME NOW! </p>
        <!-- <a class="common-btn" (click)="toTop($event)">Advertisment</a> -->
        <a class="common-btn" routerLink="/promotions">Promotions</a>
    </div>
</header>