<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="title-heading" data-aos="fade-left">Promotions</h2>
            </div>
        </div>

        <div>
            <div class="header-left-outer">
                <div class="getAllAd-btn" *ngIf="searchString != ''">
                    <button type="button" class="btn btn-outline-danger" (click)="clickOnshowAll()">Show All Ads</button>
                </div>
                <div class="search-box-outer">
                    <input name="searchBar" id="searchBarforAds" class="search-box" value="" placeholder="Search.." type="text" [(ngModel)]="searchString" (keyup.enter)="onKeypressSearch()" (keyup)="onKeypressSearch()" autocomplete="off">
                    <button id="search-box-icon" type="submit" class="search btn btn-link text-danger" (click)="onKeypressSearch()"><i class="fa fa-search search-icon"></i></button>
                </div>

            </div>
            <marquee behavior="scroll" scrollamount="5" loop='INFINITE' onmouseover="this.stop();" onmouseout="this.start();">
                "For more promotions, Kindly visit our Instagram page<a (click)="gotoInstaPage()">#Getithomwenow</a>"
            </marquee>
            <div *ngIf="!showTable">
                <h1>No Promotions Found</h1>
            </div>

            <div class="card-wrapper" *ngIf="showTable">

                <div class=" card" *ngFor="let ads of adsList">
                    <div class="topStatic">
                        <h2>Store,Estate,Garage Sales</h2>

                        <div class="Image">
                            <img src="./assets/imgs/logoSmall3.png" alt="" class="imageLogo">
                        </div>
                        <div class="bodyCenter">
                            <h4 class="big-stuff">{{ads.name}}</h4>
                            <ng-container>
                                <p class="title-1">{{createContent(ads.mainContent)[0]}} </p>
                                <p class="title-2">{{createContent(ads.mainContent)[1]}}</p>
                                <p class="title-3" [ngStyle]="createContent(ads.mainContent)[2].length > 25 && { 'font-size': '9px' }">{{createContent(ads.mainContent)[2]}}</p>
                            </ng-container>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="imageBottom">
                            <img src="./assets/imgs/contact.png" alt="">
                        </div>
                        <p class="bottom-title">The Uber® of Moving Stuff</p>
                    </div>


                </div>
            </div>
            <!-- Pagination -->
            <div class="pagination-wrapper" *ngIf="adsList.length != 0">
                <button class="paginate_btn previous " (click)="previous()" [ngClass]="{'disabled': previousButton}" [disabled]="previousButton">Previous</button>
                <a class="paginate_btn " *ngFor=" let page of paggination" [ngClass]="{'current': page.status == true}" (click)="pageNumberClick(page.pageNo)">{{page.pageNo}}</a>
                <button class="paginate_btn next" (click)="next()" [ngClass]="{'disabled': nextButton}" [disabled]="nextButton">Next</button>
            </div>
        </div>



    </div>
</div>