<div class="site-section contact-us-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12 text-center">
                <h2 class="title-heading" data-aos="fade-left">Advertisments</h2>
            </div>
        </div>

        <owl-carousel-o [options]="customOptions" class="adv-slider">
            <ng-template carouselSlide class="container">
                <div class="card-wrapper">
                    <div class=" card">
                        <div class="topStatic">
                            <h2>Store,Estate,Garage Sales</h2>

                            <div class="Image">
                                <img src="./assets/imgs/logoSmall3.png" alt="" class="imageLogo">
                            </div>
                            <div class="bodyCenter">
                                <h4 class="big-stuff">Big Stuff</h4>
                                <ng-container>
                                    <p class="title-1">But your</p>
                                    <p class="title-2">Car is Small</p>
                                    <p class="title-3">We have got your covered</p>
                                </ng-container>
                            </div>
                        </div>
                        <div class="bottom">
                            <div class="imageBottom">
                                <img src="./assets/imgs/contact.png" alt="">
                            </div>
                            <p class="bottom-title">The Uber® of Moving Stuff</p>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="card-wrapper">
                    <div class=" card">
                        <div class="topStatic">
                            <h2>Store,Estate,Garage Sales</h2>

                            <div class="Image">
                                <img src="./assets/imgs/logoSmall3.png" alt="" class="imageLogo">
                            </div>
                            <div class="bodyCenter">
                                <h4 class="big-stuff">Big Stuff</h4>
                                <ng-container>
                                    <p class="title-1">But your</p>
                                    <p class="title-2">Car is Small</p>
                                    <p class="title-3">We have got your covered</p>
                                </ng-container>
                            </div>
                        </div>
                        <div class="bottom">
                            <div class="imageBottom">
                                <img src="./assets/imgs/contact.png" alt="">
                            </div>
                            <p class="bottom-title">The Uber® of Moving Stuff</p>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="card-wrapper">
                    <div class=" card">
                        <div class="topStatic">
                            <h2>Store,Estate,Garage Sales</h2>

                            <div class="Image">
                                <img src="./assets/imgs/logoSmall3.png" alt="" class="imageLogo">
                            </div>
                            <div class="bodyCenter">
                                <h4 class="big-stuff">Big Stuff</h4>
                                <ng-container>
                                    <p class="title-1">But your</p>
                                    <p class="title-2">Car is Small</p>
                                    <p class="title-3">We have got your covered</p>
                                </ng-container>
                            </div>
                        </div>
                        <div class="bottom">
                            <div class="imageBottom">
                                <img src="./assets/imgs/contact.png" alt="">
                            </div>
                            <p class="bottom-title">The Uber® of Moving Stuff</p>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="card-wrapper">
                    <div class=" card">
                        <div class="topStatic">
                            <h2>Store,Estate,Garage Sales</h2>

                            <div class="Image">
                                <img src="./assets/imgs/logoSmall3.png" alt="" class="imageLogo">
                            </div>
                            <div class="bodyCenter">
                                <h4 class="big-stuff">Big Stuff</h4>
                                <ng-container>
                                    <p class="title-1">But your</p>
                                    <p class="title-2">Car is Small</p>
                                    <p class="title-3">We have got your covered</p>
                                </ng-container>
                            </div>
                        </div>
                        <div class="bottom">
                            <div class="imageBottom">
                                <img src="./assets/imgs/contact.png" alt="">
                            </div>
                            <p class="bottom-title">The Uber® of Moving Stuff</p>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="card-wrapper">
                    <div class=" card">
                        <div class="topStatic">
                            <h2>Store,Estate,Garage Sales</h2>

                            <div class="Image">
                                <img src="./assets/imgs/logoSmall3.png" alt="" class="imageLogo">
                            </div>
                            <div class="bodyCenter">
                                <h4 class="big-stuff">Big Stuff</h4>
                                <ng-container>
                                    <p class="title-1">But your</p>
                                    <p class="title-2">Car is Small</p>
                                    <p class="title-3">We have got your covered</p>
                                </ng-container>
                            </div>
                        </div>
                        <div class="bottom">
                            <div class="imageBottom">
                                <img src="./assets/imgs/contact.png" alt="">
                            </div>
                            <p class="bottom-title">The Uber® of Moving Stuff</p>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="card-wrapper">
                    <div class=" card">
                        <div class="topStatic">
                            <h2>Store,Estate,Garage Sales</h2>

                            <div class="Image">
                                <img src="./assets/imgs/logoSmall3.png" alt="" class="imageLogo">
                            </div>
                            <div class="bodyCenter">
                                <h4 class="big-stuff">Big Stuff</h4>
                                <ng-container>
                                    <p class="title-1">But your</p>
                                    <p class="title-2">Car is Small</p>
                                    <p class="title-3">We have got your covered</p>
                                </ng-container>
                            </div>
                        </div>
                        <div class="bottom">
                            <div class="imageBottom">
                                <img src="./assets/imgs/contact.png" alt="">
                            </div>
                            <p class="bottom-title">The Uber® of Moving Stuff</p>
                        </div>
                    </div>
                </div>
            </ng-template>

        </owl-carousel-o>
    </div>
</div>