<div class="site-section contact-us-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12 text-center">
                <h2 class="title-heading" data-aos="fade-left">Advertisments</h2>
            </div>
        </div>

        <owl-carousel-o [options]="customOptions" class="adv-slider"  *ngIf="showTable">
            <ng-template carouselSlide class="container" *ngFor="let ads of adsList">
                <div class="card-wrapper ">
                    <div class=" card ">
                        <div class="topStatic">
                            <h2>Store,Estate,Garage Sales</h2>

                            <div class="Image">
                                <img src="./assets/imgs/logoSmall3.png" alt="" class="imageLogo">
                            </div>
                            <div class="bodyCenter card-fixedheight">
                                <h4 class="big-stuff">{{ads.name}}</h4>
                                <ng-container>
                                    <p class="title-1">{{createContent(ads.mainContent)[0]}} </p>
                                    <p class="title-2">{{createContent(ads.mainContent)[1]}}</p>
                                    <p class="title-3">{{createContent(ads.mainContent)[2]}}</p>
                                </ng-container>
                            </div>
                        </div>
                        <div class="bottom">
                            <div class="imageBottom">
                                <img src="./assets/imgs/contact.png" alt="">
                            </div>
                            <p class="bottom-title">The Uber® of Moving Stuff</p>
                        </div>
                    </div>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</div>