<nav class="navbar navbar-expand-md navbar-dark fixed-top " id="navbar" color-on-scroll="50" [ngClass]="{'navbar-transparent': showAdvertisment == false}">
    <div class="container-nav">
        <a class="navbar-brand" routerLink="">
            <img src="assets/imgs/mainLogo copy.png" class="logo-big">
            <img src="assets/imgs/logoSmall3.png" class="logo-small">
        </a>
        <span class="faltu-text">The Uber® of Moving Stuff</span>

        <button id="mytoggle" class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#probootstrap-navbar" aria-controls="probootstrap-navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span><i class="fa fa-bars" aria-hidden="true"></i></span>
 
    </button>
        <div class="collapse navbar-collapse" id="probootstrap-navbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" [ngClass]="{'advertismentshow': showAdvertisment == false}"><a class="nav-link" (click)="goBack()" data-toggle="collapse" data-target=".navbar-collapse.show">Home</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/promotions" routerLinkActive="active" data-toggle="collapse" data-target=".navbar-collapse.show">Promotions</a></li>
                <li class="nav-item" [ngClass]="{'advertismentshow': showAdvertisment == true}"><a class="nav-link" href="#aboutUS" data-toggle="collapse" data-target=".navbar-collapse.show">About US</a></li>
                <li class="nav-item" [ngClass]="{'advertismentshow': showAdvertisment == true}"><a class="nav-link" href="#faq" data-toggle="collapse" data-target=".navbar-collapse.show">FAQ</a></li>
                <li class="nav-item" [ngClass]="{'advertismentshow': showAdvertisment == true}"><a class="nav-link" href="#contactus" data-toggle="collapse" data-target=".navbar-collapse.show">Contact Us</a></li>
                <li class="nav-item" routerLink='/login'>
                    <div class="profile-settings" *ngIf="cookiesIsExit == false">
                        <div class="navdrop-box">
                            <button>Login</button>
                        </div>
                    </div>
                </li>
                <li class="nav-item" *ngIf="cookiesIsExit == true">
                    <div class="profile-settings">
                        <div class="navdrop-box">
                            <img src="{{profilepic}}">
                            <h5>{{fullname}}</h5>
                            <i class="fa fa-chevron-down"></i>
                        </div>
                        <div class="dropdown-menu">

                            <a [routerLink]="['/profile/setting']">View Profile</a>

                            <div class="dropdown-menu-footer">
                                <a (click)="clickLogoutFunction()"> Logout </a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>